<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <titleAdmin />
    </title>
    <link rel="shortcut icon" href="~/User/themes/images/ico/favicon.ico">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Admin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Admin/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/iCheck/square/blue.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>@SharedLocalizer["Vendor_Panel"]</b>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">@SharedLocalizer["Sign_in_to_start_your_session"]</p>

            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.error
                </div>
            }
            <form asp-controller="Login" asp-action="Process" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="@SharedLocalizer["email"]" name="email" required="required">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="@SharedLocalizer["Password"]" name="password" required="required">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">@SharedLocalizer["Sign_In"]</button>
                    </div>
                </div>
            </form>
            <a asp-controller="Vendors" asp-action="Register" class="text-center">@SharedLocalizer["Register_a_new_vendor"]</a>
            <br />
            <a asp-controller="Home" asp-action="Index" class="text-center">@SharedLocalizer["Back_to_Home"]</a>
        </div>
    </div>
    <script src="~/Admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Admin/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>
</html>

